*.pdf
*.PNG
*.JPG
*.npz
*.txt
*.ps
*.eps
*.pkl
gptools/
gsum/
nuclear-matter-convergence/
figures/
old/
*.csv
.ipynb_checkpoints/
.DS_Store
__pycache__/
model-selection_mini-project-IIa.ipynb
Pressure_Mixing_cs2.ipynb
Pressure_Mixing_GP.ipynb
Gorda_pQCD_gsum.ipynb
FRG_Inclusion.ipynb
*.dat
notebooks/Plots/
notebooks/More_Plots/
notebooks/BMM_GP_NSM_Messy.ipynb
notebooks/BMM_GP-Matern.ipynb
notebooks/BMM_GP_NSM-Matern.ipynb
notebooks/GIF_plots/
notebooks/GIF_plots_Greedy/

# IDE specifics
.idea/
