*.pdf
*.PNG
*.JPG
*.npz
*.txt
*.ps
*.eps
gptools/
gsum/
nuclear-matter-convergence/
figures/
multiple_densities/
sampled_curves/
old_notebooks/
*.csv
.ipynb_checkpoints/
.DS_Store
__pycache__/
model-selection_mini-project-IIa.ipynb
Pressure_Mixing_cs2.ipynb
Pressure_Mixing_GP.ipynb
Gorda_pQCD_gsum.ipynb
FRG_Inclusion.ipynb
*.dat
notebooks/Plots/
notebooks/More_Plots/
notebooks/Old_notebooks/

# IDE specifics
.idea/
