*.pdf
*.PNG
*.JPG
*.npz
*.txt
*.ps
*.eps
gptools/
gsum/
nuclear-matter-convergence/
multiple_densities/
sampled_curves/
old_notebooks/
*.csv
.ipynb_checkpoints/
.DS_Store
__pycache__/
model-selection_mini-project-IIa.ipynb

# IDE specifics
.idea/
